/*
Template Name: Creative Bootstrap 3 Responsive Admin Template
Template Version: 1.0
Author: GeeksLabs
Website: http://geekslabs.com/
*/

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(line-icons.css);

body {

    background: #fff;
    font-family: 'Lato', sans-serif;
    padding: 2px !important;
    margin: 2px !important;
    font-size:14px !important;    
}

input:focus, textarea:focus { outline: none; }


.login-body {
    background-color: #f1f2f7;
}

.login-form {
    max-width: 350px;
    margin: 150px auto 0;
    background: #22313F;    
}

.login-form .login-img{
    font-size: 50px;
    font-weight: 300;    
}
.login-form .input-group{
    padding-bottom: 15px;
}
.login-form .input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    color: #22313F;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
}
.login-form input[type="text"], .login-form input[type="password"] {    
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0; 
}
.login-form .btn{
    border-radius: 0;
}
.login-form .btn-login {
    background: #f67a6e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px #e56b60;
    margin-bottom: 20px;
}

.login-form p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.login-wrap {
    padding: 20px;
}


.signupContainer,.loginContainer{
    width: 49.5%;
    display: inline-flex;
}


/*index.html*/

#messagesContainer{
    height: 500px;
    padding: 0px;
    margin: 0px 5px;
    background-color: #22313F;
    padding: 10px 10px;
}

#messages{
    overflow-x:hidden;
    overflow-y:visible;
    height: 91%;
    padding: 10px 10px;
    border: 1px solid #22313F;
    background-color: #fff;
    border-radius: 5px;
}

.addRoom{
    bottom:0;
    position:absolute;
}
#room{
    font-weight:bold;
    margin-top: 20px; 
}

.sendMsg{
    width: 98%;
    bottom: 5px;
    position:absolute;
}

#roomContainer,#userContainer{
    padding: 0px;
    margin:0px;
    height: 500px;
    border:1px solid #ccc;
}

#roomContainer{
    margin-right: 5px;
}

#roomContainer h4,#userContainer h4{
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.logout{
    white-space: pre;
}

#messages ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages ul li{
    white-space: pre-line;
     margin: 0px 0px 5px 0px;
}

#roomList ul,#usersList ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#roomList ul li{
    white-space: pre-line;
    margin: 0px 0px 5px 0px;
    border-bottom: 1px solid #ccc;    
}